table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Điều chỉnh cho biểu đồ cột */
.chart-bar {
  width: 60%; /* Làm cho biểu đồ cột to hơn */
  margin-bottom: 20px;
}

/* Điều chỉnh cho biểu đồ tròn */
.chart-pie {
  width: 30%; /* Làm cho biểu đồ tròn nhỏ hơn */
  margin-bottom: 20px;
}
/* Statistical.css */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.chart-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
