.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form .form-group {
  margin-bottom: 15px;
}

.form-container form .form-group label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.form-container form .form-group input[type="text"],
.form-container form .form-group input[type="file"],
.form-container form .form-group textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-container form .form-group input[type="file"] {
  background-color: #fff;
}

.form-container form .form-group textarea {
  height: 100px;
}

.form-container form .form-group img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 4px;
}

.form-container form .btn-submit {
  padding: 10px 20px;
  background-color: rgb(238, 130, 59);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container form .btn-submit:hover {
  background-color: #0056b3;
}
