.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 90px;
}
.movie-header {
  margin: 48px;
  color: #fa5238;
}
.movie-card {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.movies-list .movie-card .movie-card-front img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card-front img {
  width: 100%;
  height: auto;
}

.movie-card-back {
  padding: 10px;
  background-color: #f8f8f8;
}

.movie-card-back h3 {
  margin: 0;
  font-size: 1em;
}

.movie-card-back p {
  font-size: 0.8em;
  color: #666;
}

.movie-card-footer {
  padding: 10px;
  text-align: center;
}
